.container-fluid h2{
	font-size: 20px;;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}


.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

.container {

    background-color: gray;
    width: 100%;
    font-family: 'Playfair Display', serif;
}


html,
button,
input,
select,
body
textarea 
h2 {
    color: red;
    height: 100%;
     margin: 0; 
     padding: 0;
}

#map { height: 100%;
        width: 100% }

html {
    font-size: 1em;
    line-height: 1.4;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.search {

    left: 25px;
    top: 25px;
    height: 30px;
    width: 350px;
}



.search-button:hover,
.list-toggle:hover {
    background: #0062ff;
}

.text-box {
    top: 10px;
    left: 50px;
    margin-left: 500px;
}


@media only screen and (max-width: 828px) {
    .list-view {
        max-height: 100px;
    }
   
    .search-form{
    	margin-left: 0;
    }
    .list-view{
     text-align: left;
     top: 120px;
     left: 5px;
    }
    .search{
    	top:50px;
    	left:15px;
        max-width: 220px;
    }
    .container-fluid h2{
    	margin-bottom: 40px;
    	font-size: 17px;
    	margin-top: 20px;
        color: red;
    }
}

